{{!-- //<div class="post card">
  <div class="card-header">
    <h2>{{common_name}}</h2>
  </div>

  <div class="card-body">
    <div><img src="{{image_url}}" alt="{{scientific_name}}" /></div>
    <div>
      <p>{{description}}</p>
    </div>
  </div>
</div> --}}
<div class="col-lg-4">
  <div class="card">
    <img class="card-img-top" src="{{image_url}}" alt="{{scientific_name}}">
    <div class="card-body">
      <h5 class="card-title">{{common_name}}</h5>
      <p class="card-text">{{description}}</p>
    </div>
  </div>
</div>